@bgcolor: pink;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul, ol {
    list-style-type: none;
}

#root {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 600px;
    margin: 100px auto;
    border: 10px solid;
    border-radius: 45px;
    padding: 20px;
    .logo {
        height: 50px;
        line-height: 50px;
        text-align: center;
    }
    #stage {
        position: relative;
        flex: 1;
        background-color: #ccc;
        border: 1px solid;
        #snake {
            position: absolute;
            display: flex;
            li {
                width: 10px;
                height: 10px;
                background-color: #000;
                border: 1px solid #ccc;
            }
        }
        #food {
            position: absolute;
            width: 10px;
            height: 10px;
            left: 100px;
            top: 100px;
            background-color: green;
            border-radius: 50%;
        }
    }
    #foot {
        display: flex;
        justify-content: space-between;
        height: 100px;
        line-height: 100px;
        font-size: 20px;
    }
}